services:
  better-chatbot:
    container_name: better_chatbot_app
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    ports:
      - '3000:3000'
    environment:
      - NO_HTTPS=1
      # Override DB and Redis hosts to point to docker service names
      - POSTGRES_URL=postgresql://your_username:your_password@postgres:5432/your_database_name
      - DATABASE_URL=postgresql://your_username:your_password@postgres:5432/your_database_name
      - REDIS_URL=redis://redis:6379
      - KV_URL=redis://redis:6379
    env_file:
      - ../.env
    networks:
      - better-chatbot-networks
    volumes:
      - uploads_data:/app/public/uploads
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    image: pgvector/pgvector:pg17
    environment:
      POSTGRES_USER: your_username
      POSTGRES_PASSWORD: your_password
      POSTGRES_DB: your_database_name
    ports:
      - "5432:5432"
    networks:
      - better-chatbot-networks
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - better-chatbot-networks
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
    external: true
    name: better-chatbot-data
  redis_data:
  uploads_data:
    name: better-chatbot-uploads

networks:
  better-chatbot-networks:
    driver: bridge
